# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc[cod]
*.pyc
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/

# Static files
bower_install/
uploads/

# MAC
.DS_Store
src/static/*
tags
.vscode/
.direnv
.envrc