# Generic python stuff
py
six
sqlparse
bpython
jsonpickle
transliterate
honcho

# Django and django plugins
Django==1.11.5
django-bower
django-crispy-forms
django-debug-toolbar
django-extensions
django-hvad
django-cache-url
django-redis
dj-redis-url
django-rosetta
django-import-export
django-crispy-forms
django-prices-openexchangerates
whitenoise

# Libs for connection third party software
google-api-python-client
raven
PyDrive
celery[redis]
hiredis
redis
psycopg2

# Testing facilities
pytest
pytest-cov
pytest-django
pytest-mock
factory-boy

# Network
uWSGI
Scrapy
requests
beautifulsoup4
