Django==1.9.7
django-bower
django-crispy-forms
django-debug-toolbar
django-extensions
django-modeltranslation
py
six
sqlparse
uWSGI
django_compressor
Scrapy
requests
beautifulsoup4
xhtml2pdf==0.2b1
django-rosetta
django-import-export
psycopg2
honcho
django-crispy-forms

# Testing facilities
pytest
pytest-cov
pytest-django
pytest-mock
factory-boy
