Django==1.9.7
django-bower
django-crispy-forms
django-debug-toolbar
django-extensions
django-bootstrap3
pdfminer3k
ply
py
pytest
six
sqlparse
uWSGI
django_compressor
Scrapy
requests
beautifulsoup4
honcho
simplejson
xhtml2pdf==0.2b1