{% load static crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>edocprint - business with grace</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <link href="{% static "core/css/style.css" %}" rel="stylesheet">
</head>
<body>
 {% block content %}
<div class="ui form">
    {% crispy form %}
</div>
{% endblock %}
</body>
</html>
