{% extends "base.html" %}

{% block content %}
<!-- Jumbotron Header -->
<header class="well jumbotron hero-spacer">
    <h1>Бачкай си спокойно!</h1>
    <p>За хора които им е писнало от чиновничество и разпиляване на хартия.
    Издаването на фактури никога не е било по-лесно.</p>
    <p><a class="btn btn-primary btn-large">Кажи ми как!</a>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Пакети</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-4 col-md-6 hero-feature">
        <div class="thumbnail">
            <div class="caption">
                <h3>Фрийлансър</h3>
                <p>За свободни професии.</p>
                <p>
                    <a href="#" class="btn btn-primary">Безплатно</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-6 hero-feature">
        <div class="thumbnail">
            
            <div class="caption">
                <h3>Малък бизнес</h3>
                <p>Фирми до 10 човека.</p>
                <p>
                    <a href="#" class="btn btn-primary">Вземи!</a> 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-6 hero-feature">
        <div class="thumbnail">
            <div class="caption">
                <h3>АД</h3>
                <p>Организации и кооперативи.</p>
                <p>
                    <a href="#" class="btn btn-primary">Вземи!</a> 
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}
