<label class=" applabel col-md-5" >Данъчна основа:</label>
<div class="col-md-7 col-padding">
    <input type="number" class="form-control input-sm" name="tax_base" v-model="gross" value="" disabled>
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5" >% ДДС:</label>
<div class="col-md-7 col-padding">
    <input type="number" class="form-control input-sm" name="dds" v-model="dds_percent" value="" @blur="calc_total()" @keyup="calc_total()">
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5" >Сума за плащане:</label>
<div class="col-md-7 col-padding">
    <input type="number" class="form-control input-sm" name="total" v-model="total" disabled />
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5" >Словом:</label>
<div class="col-md-7 col-padding">
    <input type="number" class="form-control input-sm" disabled>
</div>