<label class="applabel col-md-5"  >Вид плащане:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" name="payment_type" value="{{ form.payment_type.value }}">
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5"  >IBAN:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" name="payment_iban" value="{{ form.payment_iban.value }}">
</div>
<div class="appclearfix"></div>


<label class=" applabel col-md-5"  >SWIFT:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" name="payment_swift" value="{{ form.payment_swift.value }}">
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5"  >Банка:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" name="payment_bank" value="{{ form.payment_bank.value }}">
</div>