{% load bootstrap3 %}
<label class=" col-md-5 applabel" >Доставчик:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.name size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >БУЛСТАТ:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.eik size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Ин по ДДС:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.dds size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Град:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.city size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Адрес:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.address size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >МОЛ:</label>
<div class="col-md-7 col-padding">
    {% bootstrap_field company_form.mol size='small' show_label='' form_group_class='' bound_css_class='' set_disabled='True' %}
</div>