<label class="applabel col-md-5"  >Вид плащане:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" >
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5"  >IBAN:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" >
</div>
<div class="appclearfix"></div>


<label class=" applabel col-md-5"  >SWIFT:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" >
</div>
<div class="appclearfix"></div>

<label class=" applabel col-md-5"  >Банка:</label>
<div class="col-md-7 col-padding">
    <input type="text" class="form-control input-sm" >
</div>