{% extends "base.html" %}
{% block content %}


<div class="ui breadcrumb">
    <a class="section" href="#">Профил</a>
    <div class="divider"> / </div>
    <a class="section" href="{% url 'companies' %}">Фирми</a>
    <div class="divider"> / </div>
    {{ company.name }}
    <div class="divider"> / </div>
    <a class="section" href="{% url 'collaborators' company.pk %}">Сътрудници</a>
</div>

{% block submenu %}
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <span class="pull-right">
            <a href="{% url 'invite' company.pk %}" class="btn btn-primary btn-xs" role="button">+ Добави</a>
        </span>
    </div>
</div>
{% endblock %}

<div class="ui basic segment">
    <table class="ui table">
        <thead>
            <tr>
                <th>Потребител</th>
                <th>Статус</th>
                <th>Email</th>
                <th>Изтича На</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for item in objects %}
            <tr>
                <td>{{ item.user|default:'-' }}</td>
                <td>{% if item.verified %} <span style="green">verified</span> {% else %} <span style="color:orange">pending</span> {% endif %}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.expire_on }}</td>
                <td><a href="{% url 'drop_collab' item.pk %}" class="btn btn-warning btn-xs pull">премахни</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
