{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="ui grid basic segment">
    <div class="two column row">
      <div class="column">
        <h2 class="left floated">{% trans 'Фирми' %}</h2>
      </div>
      <div class="column right aligned">
        <a href="{% url 'google_login' %}" class="ui button primary tiny" role="button">{% trans 'Google Drive Sync' %} ({% if request.user.settings.gdrive_sync %}{% trans 'Включен' %}{% else %}{% trans 'Изключен' %}{% endif %})</a>
        <a href="{% url 'company' %}" class="ui button primary tiny" role="button">{% trans '+ Добави нова' %}</a>
      </div>
    </div>
  </div>

  <div class="ui basic segment">
    <table class="ui table">
      <thead>
      <tr>
        <th>{% trans 'Име' %}</th>
        <th>{% trans 'Булстат' %}</th>
        <th>{% trans 'МОЛ' %}</th>
        <th>{% trans 'Град' %}</th>
        <th>{% trans 'Адрес' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for item in objects %}
        <tr>
          <td scope="row"><a href="{% url 'company' item.pk %}">{{ item.name }} {% if item.default %}*{% endif %}</a></td>
          <td>{{ item.eik }}</td>
          <td>{{ item.mol }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.address }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
