{% extends "base.html" %}
{% block content %}
  <div class="ui grid basic segment">
    <div class="two column row">
      <div class="column">
        <h2 class="left floated">Фирми</h2>
      </div>
      <div class="column right aligned">
        <a href="{% url 'import_companies' %}" class="ui button primary tiny" role="button">Импорт</a>
        <a href="{% url 'export_companies' %}" class="ui button primary tiny" role="button">Експорт</a>
        <a href="{% url 'company' %}" class="ui button primary tiny" role="button">+ Добави нова</a>
      </div>
    </div>
  </div>

  <div class="ui basic segment">
    <table class="ui table">
      <thead>
      <tr>
        <th>Име</th>
        <th>Булстат</th>
        <th>МОЛ</th>
        <th>Град</th>
        <th>Адрес</th>
      </tr>
      </thead>
      <tbody>
      {% for item in objects %}
        <tr>
          <td scope="row"><a href="{% url 'company' item.pk %}">{{ item.name }} {% if item.default %}*{% endif %}</a></td>
          <td>{{ item.eik }}</td>
          <td>{{ item.mol }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.address }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
