{% extends 'base.html' %}
{% load static i18n crispy_forms_tags crispy_forms_filters crispy_custom %}

{% block content %}

<div class="frame-container">
  <div class="ui basic segment">
    <h2 class="left floated">{% trans 'Фирмена регистрация' %}</h2>
  </div>

  {% if form.errors %}
  <div class="ui basic segment">
    {{ form.errors }}
  </div>
  {% endif %}

  {% include "_flash_messages.html" %}
  <form method="post" class="ui form _m0">
    {% csrf_token %}
    <div id="edit-company" class="ui basic segment _flex">
      {% include "_flash_messages.html" %}
      <div class="_flex-1 _mrs _ptxs">
        {{ form.name|as_crispy_field }}
        {{ form.city|as_crispy_field }}
        {{ form.address|as_crispy_field }}
        {{ form.mol|as_crispy_field }}
        {{ form.eik|as_crispy_field }}
        {{ form.dds|as_crispy_field }}

        {{ form.payment_type|as_crispy_field }}
        {{ form.payment_iban|as_crispy_field }}
        {{ form.payment_swift|as_crispy_field }}
        {{ form.payment_bank|as_crispy_field }}

        <div class="buttonHolder">
          <button type="submit" name="submit" class="btn btn-primary ui button green" id="submit-id-submit">
            <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-checkmark"></use></svg></i>
            {% trans 'Обнови' %}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
