{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="ui basic segment">
  <h2 class="left floated">{% block edit_title %}Фирмена регистрация{% endblock %}</h2>
</div>

<div class="ui basic segment" style="max-width: 500px">
  {% include "_flash_messages.html" %}
  {% crispy form %}
</div>

<div id="delete-modal-window" class="ui tiny modal">
  <div class="header">Внимание!</div>
  <div class="content">
      <p>Сигурни ли сте че искате да изтриете {{ form.instance }} ?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">Не</div>
    <a href="{% block delete_button_href%}#{% endblock %}" class="ui positive button">Да</a>
  </div>
</div>
{% endblock %}
