{% load i18n static %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<div class="left item">
  <a href="{% url 'home' %}">
    <img class="logo" src="{% static 'core/images/logo.svg' %}" alt="Лого">
  </a>
</div>

<div class="right item">
  <div href="#" class="ui dropdown item" role="button" aria-haspopup="true">
    <input type="hidden" name="language">
    <div class="text"><i class="{{ lang.code }} flag"></i> {{ lang.name }}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {% for lang_code, lang_name in LANGUAGES %}
        <div class="item" data-value="af"><i class="{{ lang_code }} flag"></i> {{ lang_name }}</div>
      {% endfor %}
    </div>
  </div>

  {% if not user.is_active %}

  <a class="ui inverted button" href="{% url 'login' %}">Вход</a>
  <a class="ui inverted button" href="{% url 'registration' %}">Регистрация</a>

  {% else %}

  <a class="item" href="{% url 'list' %}">Фактури</a>
  <a class="item" href="{% url 'companies' %}">Фирми</a>

  <div class="ui dropdown item" role="button" aria-haspopup="true">
    {{ request.user.username }} <i class="dropdown icon"></i>
    <div class="menu">
      <a href="{% url 'password' %}" class="item">Смяна на паролата</a>
      <div class="divider"></div>
      <a href="#" class="item">Dropbox</a>
      <a href="#" class="item">Експорт</a>
    </div>
  </div>

  <a class="ui inverted button" href="{% url 'logout' %}">Изход</a>
  {% endif %}
</div>
