{% load i18n static %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% static 'core/images/flags/' as flags_dir %}

<div class="left item">
  <a href="{% url 'home' %}" class="header item">
    eDocPrint
  </a>
  <a href="{% url 'contact' %}" class="_active item">За контакт</a>
</div>

<div class="right item">
{% if not user.is_active %}
  <a class="ui inverted button" href="{% url 'login' %}">Вход</a>
  <a class="ui inverted button" href="{% url 'registration' %}">Регистрация</a>
{% else %}
  <a class="item" href="{% url 'list' %}">Фактури</a>
  <a class="item" href="{% url 'companies' %}">Фирми</a>

  <div href="#" id="menu-dropdown" class="ui dropdown item" role="button" aria-haspopup="true">
    Профил ({{ request.user.username }}) <i class="dropdown icon"></i>
    <div class="menu">
      <a href="{% url 'profile' %}" class="item">Обща информация</a>
      <a href="{% url 'password' %}" class="item">Смяна на паролата</a>
      <div class="divider"></div>
      <a href="#" class="item">Dropbox</a>
      <a href="#" class="item">Експорт</a>
    </div>
  </div>

  <a class="ui inverted button" href="{% url 'logout' %}">Изход</a>
{% endif %}
</div>
