{% extends "single-page-form.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}{%  trans 'Забравена парола' %} - WebInvoices{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a class="logo-link _mbm" href="{% url 'home' %}">
      <img class="logo image" src="{% static 'core/images/logo.svg' %}" alt="Лого">
      <small>BETA</small>
    </a>
    <div class="ui stacked segment">
      <h1 class="ui header _mbs">{%  trans 'Забравена парола' %}</h1>
        {% include "_flash_messages.html" %}
        <p>{% crispy form %}</p>
    </div>

    <div class="ui message">
      {%  trans 'Нямаш профил?' %}&nbsp;<a href="{% url 'registration' %}">{%  trans 'Регистрирай се' %}</a>
    </div>
  </div>
</div>
{% endblock %}
