{% extends "single-page-form.html" %}
{% load static i18n %}

{% block title %}{%  trans 'Забравена парола' %} - WebInvoices{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a class="logo-link _mbm" href="{% url 'home' %}">
      <img class="logo image" src="{% static 'core/images/logo.svg' %}" alt="Лого">
      <small>BETA</small>
    </a>
    <div id="forgotten-pass-segment" class="ui stacked segment">
        <h1 class="ui header _mbs">{%  trans 'Забравена парола' %}</h1>
        <p id="pass-link-sent" class="_text-left">{% blocktrans with ago=timestamp|timesince %}Линк за смяна на парола беще изпратен успешно на <strong>{{ email }}</strong> преди {{ ago }}.<br><br>Последвайте го да си промените паролата.{% endblocktrans %}</p>
    </div>

    <div class="ui message">
      {%  trans 'Нямаш профил?' %}&nbsp;<a href="{% url 'registration' %}">{%  trans 'Регистрирай се' %}</a>
    </div>
  </div>
</div>
{% endblock %}
