{% extends "single-page-form.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{%  trans 'Регистрация' %} - WebInvoices{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a class="logo-link _mbm" href="{% url 'home' %}">
      <img class="logo image" src="{% static 'core/images/logo.svg' %}" alt="Лого">
      <small>BETA</small>
    </a>
    <div class="ui stacked segment">
      <h1 class="ui header _mbs">{%  trans 'Нов профил' %}</h1>
      {% crispy form %}
    </div>

    <div class="ui message">
      {%  trans 'Имаш профил?' %}&nbsp;<a href="{% url 'login' %}">{%  trans 'Влез' %}</a>
    </div>
  </div>
</div>
{% endblock %}
