{% extends "single-page-form.html" %}
{% load static crispy_forms_tags %}

{% block title %}Регистрация - WebInvoices{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a class="logo-link _mbm" href="{% url 'home' %}">
      <img class="logo image" src="{% static 'core/images/logo.svg' %}" alt="Лого">
      <small>BETA</small>
    </a>
    <div class="ui stacked segment">
      <h1 class="ui header _mbs">Нов профил</h1>
      {% crispy form %}
    </div>

    <div class="ui message">
      Имате профил? <a href="{% url 'login' %}">Влез</a>
    </div>
  </div>
</div>
{% endblock %}
