{% load static compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>edocprint - business with grace</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include "_headers.html" %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                {% include "_navigation.html" %}
                </div>
            </div>
        </div>
            <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <main class="container-fluid">
        <div class="row" >
            <div class="col-md-12" id="_print">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p class="_m0">Copyright &copy; Innova Crew 2016</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
{#    {% include "_footer_scripts.html" %}#}
</body>
</html>
