{% extends "base.html" %}
{% block body_class %}page--home{% endblock %}
{% block content %}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Бачкай си спокойно!
      </h1>
      <h2>За хора които им е писнало от чиновничество и разпиляване на хартия.
        Издаването на фактури никога не е било по-лесно.</h2>
      <div class="ui huge primary button">Кажи ми как!</div>
    </div>
  </div>
  <section class="_ptxl">
    <div class="ui vertical stripe segment center aligned">
      <h1 class="ui header">Пакети</h1>
    </div>

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h2>Фрийлансър</h2>
            <p>За свободни професии.</p>
            <div class="ui primary button">Вземи</div>
          </div>
          <div class="column">
            <h2>Малък бизнес</h2>
            <p>Фирми до 10 човека.</p>
            <div class="ui primary button">Вземи</div>
          </div>
          <div class="column">
            <h2>АД</h2>
            <p>Организации и кооперативи.</p>
            <div class="ui primary button">Вземи</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
