{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="_ptxl _pbxl">
  <div class="ui grid equal width container stackable">
  <div class="column">
    <h1>Вход потребители</h1>
    <div class="ui form">
        {% crispy form %}
    </div>
  </div>
  <div class="ui column middle aligned centered grid">
    <h1>Нямате профил?</h1>
    <a href="{% url 'registration' %}" class="ui button primary">Регистрирай се</a>
    </div>
  </div>
</section>
{% endblock %}
