{% extends "single-page-form.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{%  trans 'Вход' %} - WebInvoices{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a class="logo-link _mbm" href="{% url 'home' %}">
      <img class="logo image" src="{% static 'core/images/logo.svg' %}" alt="Лого">
      <small>BETA</small>
    </a>
    <div class="ui stacked segment">
      <h1 class="ui header _mbs">Вход</h1>
      {% crispy form %}
    </div>

    <div class="ui message _flex center-center">
      <div class="_flex-1">{%  trans 'Нямаш профил?' %}<br><a href="{% url 'registration' %}">{%  trans 'Регистрирай се' %}</a></div>
      <div class="_flex-1"><a href="{% url 'reset-password' %}">{%  trans 'Забравена парола?' %}</a></div>
    </div>
  </div>
</div>
{% endblock %}
