{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Invoice Print</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static "invoices/css/invoice-print.css" %}" rel="stylesheet">
</head>

<body>
  {% block content %}{% endblock %}
  <script src="{% static 'core/js/public.js' %}"></script>
</body>
</html>
