{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static "core/css/style.css" %}" rel="stylesheet">
</head>
<body class="single-page-form {% block body_class %}{% endblock %}">
  {% block content %}{% endblock %}

  <script src="{% static 'core/js/public.js' %}"></script>
</body>
</html>
