{% load static compress %}
<!DOCTYPE html>
<html lang="en" {% block html_attr %} {% endblock %}>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>edocprint - business with grace</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "custom/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="{% static "bootstrap/dist/css/heroic-features.css" %}" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                {% include "_navigation.html" %}
                </div>
            </div>
        </div>
            <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" >
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" >
            {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    {% block footer_head %}<hr>{% endblock %}
                    <p>Copyright &copy; Innova Crew 2016</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    {% compress js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/dropdown.js' %}"></script>
    <script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    </script>
    {% endcompress %}
</body>
</html>
