{% extends base_template %}
{% load i18n static %}
{% load inv_utils crispy_forms_tags crispy_forms_filters crispy_custom %}
{% get_available_languages as LANGUAGES %}
{% block body_class %}body--invoice{% endblock %}

{% block content %}
  {% language selected_language %}
  <div id="sticky-target"></div>
  <form id="invoice-container" name="invoice_form" class="ui basic segment" method="POST" action="">
    {% csrf_token %}
    <input name="invoice_type" type="hidden" value="{{ invoice_type }}"/>

    <div class="ui grid tiny form _m0">
      <div class="equal width row _pb0">
        <div class="column column__title">
        {% if invoice_type == 'proforma' or invoice_type == 'invoice' %}
          <h1>{% if invoice_type == 'proforma' %}{% trans 'Проформа' %}{% else %}{% trans 'Фактура' %}{% endif %}
            <small>{% trans 'оригинал' %}</small>
          </h1>
        {% endif %}
        {% if invoice_type == 'debit' or invoice_type == 'credit' %}
          <h1>{% if invoice_type == 'debit' %}{% trans 'Дебитно' %}{% else %}{% trans 'Кредитно' %}{% endif %}
            <small>{% trans 'известие' %}</small><br />
            <small>{% trans 'фактура:' %}{{ form.instance.ref_number|nopad }}</small>
          </h1>
        {% endif %}
        </div>
        <div class="column column__info">
          {{ form.number|as_crispy_field }}
          {{ form.released_at|as_crispy_field }}
          {{ form.taxevent_at|as_crispy_field }}
        </div>
      </div>

      <div class="equal width row _pb0">
        <div class="column column__client">
          {{ form.client_name|as_crispy_field }}
          {{ form.client_eik|as_crispy_field }}
          {{ form.client_dds|as_crispy_field }}
          {{ form.client_city|as_crispy_field }}
          {{ form.client_address|as_crispy_field }}
          {{ form.client_mol|as_crispy_field }}
        </div>
        <div class="column column__company">
          <input type="hidden" name="company" value="{{ company_form.instance.pk}}" />
          {{company_form.name|disable_field|as_crispy_field}}
          {{company_form.eik|disable_field|as_crispy_field}}
          {{company_form.dds|disable_field|as_crispy_field}}
          {{company_form.city|disable_field|as_crispy_field}}
          {{company_form.address|disable_field|as_crispy_field}}
          {{company_form.mol|disable_field|as_crispy_field}}
        </div>
      </div>

      <div class="equal width row _pb0">
        <div class="column column__table">{% if print %}{% include "invoices/_invoice_details_print.html" %}{% else %}{% include "invoices/_invoice_details.html" %}{% endif %}</div>
      </div>

      <div class="equal width row _pb0">
        <div class="column column__payment">
          {{ form.payment_type|as_crispy_field }}
          {{ form.payment_iban|as_crispy_field }}
          {{ form.payment_swift|as_crispy_field }}
          {{ form.payment_bank|as_crispy_field }}
        </div>
        <div class="column column__total">
          <div class="field">
            <label>{% trans 'Данъчна основа' %}</label>
            <div class="field__text _flex center">
              <input class="field__input" name="gross" v-model="gross" class="numberinput" type="number" dir="rtl" step=any readonly>
            </div>
          </div>

          <div class="field">
            <label for="dds_percent">{% trans 'ДДС' %}</label>
            <div class="field__text _flex center">
              <span class="field__currency">%</span>
              <input class="field__input " name="dds_percent" v-model="dds_percent" value="{{ form.dds_percent.value }}" type="number" step=any @keyup="calc_total()" min="0" max="100" step="5" dir="rtl">
            </div>
          </div>

          <div class="field">
            <label for="total">{% trans 'Крайна цена' %}</label>
	    <div class="field__text _flex center">
              <input id="total" class="textinput field__input" dir="rtl" name="total" v-model="total" type="number" step=any readonly>
            </div>
          </div>
          {{ form.verbally|as_crispy_field }}
        </div>
      </div>
      <div class="equal width row">
        <div class="column column__no-dds">
          {{ form.no_dds_reason|as_crispy_field }}
        </div>
      </div>
      <div class="equal width row row__accepted">
        <div class="column">
          {{ form.accepted_by|as_crispy_field }}
        </div><div class="column">
          {{ form.created_by|as_crispy_field }}
        </div>
      </div>

      <div class="equal width row">
        <div class="column">
          <div class="field">
            <label>{% trans 'Бележка' %}</label>
            <input name="note" value="{{ form.note.value }}" type="text">
          </div>
        </div>
      </div>

      <div class="equal width row">
        <div class="column">
          {% include 'invoices/_save_menu.html' %}
        </div>
      </div>
    </div>
  </form>

{% if not print %}
<div id="delete-modal-window" class="ui tiny modal">
  <div class="header">{% trans 'Изтриване на' %} {{ form.instance.get_invoice_type_display }}</div>
  <div class="content">
      <p>{% trans 'Сигурни ли сте че искате да изтриете' %} {{ form.instance.get_invoice_type_display }} {% trans 'с номер' %} <b>{{ form.instance.number }}</b></p>
  </div>
  <div class="actions">
    <div class="ui negative button">{% trans 'Не' %}</div>
    {% if pk %}
    <a href="{% url 'delete' pk %}" class="ui positive button">{% trans 'Да' %}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endlanguage %}
<script type="text/javascript">
    window.INVOICE_ITEMS = {{ items|safe }};
    window.INVOICE_ITEM_TEMPLATE = {name: "", quantity: 1, measure: "", unit_price:0.00, discount: 0, gross: 0, id: 0, invoice_id:0};
    {% language 'en' %}
    window.INVOICE_DDS_DEFAULT = {{ form.dds_percent.value|default:0 }};
    {% endlanguage %}
</script>
<script src="{% static 'invoices/js/app.js' %}" defer></script>
{% endblock %}
