<div class="inline field custom-inline">
  <label>Данъчна основа:</label>
  <input type="number" name="tax_base" v-model="gross" value="" disabled>
</div>

<div class="inline field custom-inline">
  <label>% ДДС:</label>
  <input type="number" name="dds" v-model="dds_percent" value="" @blur="calc_total()" @keyup="calc_total()">
</div>

<div class="inline field custom-inline">
  <label>Сума за плащане:</label>
  <input type="number" name="total" v-model="total" disabled />
</div>

<div class="inline field custom-inline">
  <label>Словом:</label>
  <input type="number" disabled>
</div>
