<label class="col-md-4">Вид плащане:</label>
<div class="col-md-8">
    <input type="text" class="form-control input-sm" name="payment_type" value="{{ form.payment_type.value }}">
</div>

<label class=" col-md-4">IBAN:</label>
<div class="col-md-8">
    <input type="text" class="form-control input-sm" name="payment_iban" value="{{ form.payment_iban.value }}">
</div>


<label class=" col-md-4">SWIFT:</label>
<div class="col-md-8">
    <input type="text" class="form-control input-sm" name="payment_swift" value="{{ form.payment_swift.value }}">
</div>

<label class=" col-md-4">Банка:</label>
<div class="col-md-8">
    <input type="text" class="form-control input-sm" name="payment_bank" value="{{ form.payment_bank.value }}">
</div>
