{% load static %}
<input type="hidden" name="form-TOTAL_FORMS" v-model="total_forms"/>
<input type="hidden" name="form-INITIAL_FORMS" v-model="initial_forms"/>
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000"/>
<table id="invoice-table" class="ui very basic striped compact table">
  <thead>
    <tr>
      {% block add_button %}
      <th class="_p0">
          <a id="add-item" class="ui button green icon" @click="add()">
            <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-add"></use></svg></i>
          </a>
      </th>
      {% endblock %}

      <th width="30%">Продукт / Услуга</th>
      <th width="10%">Кол.</th>
      <th>Мярка</th>
      <th>Ед. Цена</th>
      <th>% Отстъпка</th>
      <th class="col-price">Цена</th>
    </tr>
  </thead>
  <tbody>
    {% block items %}
    <tr v-for="(row, index) in rows">
      <td class="_p0">
        <a id="remove-item" class="ui button red icon inverted" @click="remove(index)">
          <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-close"></use></svg></i>
        </a>
      </td>
      <td>
        <input type="text" :name="'form-'+index+'-name'" v-model="row.name"></div>
      </td>
      <td>
        <input type="number" :name="'form-'+index+'-quantity'" v-model="row.quantity" @keyup="calc_row(index); calc_total();" @click="calc_row(index);calc_total();">
      </td>
      <td>
        <input type="text" :name="'form-'+index+'-unit'" v-model="row.unit">
      </td>
      <td>
        <input type="number" :disabled="selected_currency !== 'BGN'" :name="'form-'+index+'-unit_price'" v-model="row.unit_price" @keyup="unit_price_changed(index); calc_row(index); calc_total();">
      </td>
      <td>
        <input type="text" :name="'form-'+index+'-discount'" v-model="row.discount" @keyup="calc_row(index); calc_total();">
      </td>
      <td class="col-price">
        <input type="text" :name="'form-'+index+'-total'" v-model="row.gross" disabled>
      </td>
    </tr>
    {% endblock %}
  </tbody>
</table>
