<div class="inline field custom-inline">
  <label>Вид плащане:</label>
  <input type="text" name="payment_type" value="{{ form.payment_type.value }}">
</div>

<div class="inline field custom-inline">
  <label>IBAN:</label>
  <input type="text" name="payment_iban" value="{{ form.payment_iban.value }}">
</div>

<div class="inline field custom-inline">
  <label>SWIFT:</label>
  <input type="text" name="payment_swift" value="{{ form.payment_swift.value }}">
</div>

<div class="inline field custom-inline">
  <label>Банка:</label>
  <input type="text" name="payment_bank" value="{{ form.payment_bank.value }}">
</div>
