<label class="col-md-4" >Получател:</label>
<div class="col-md-8">
    {{form.client_name}}
</div>

<label class="col-md-4" >БУЛСТАТ:</label>
<div class="col-md-8">
    {{form.client_eik}}
</div>

<label class="col-md-4" >Ин по ДДС:</label>
<div class="col-md-8">
    {{form.client_dds}}
</div>

<label class="col-md-4" >Град:</label>
<div class="col-md-8">
    {{form.client_city}}
</div>

<label class="col-md-4" >Адрес:</label>
<div class="col-md-8">
    {{form.client_address}}
</div>

<label class="col-md-4" >МОЛ:</label>
<div class="col-md-8">
    {{form.client_mol}}
</div>