<label class=" col-md-5 applabel" >Доставчик:</label>
<div class="col-md-7 col-padding">
    {{company_form.name}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >БУЛСТАТ:</label>
<div class="col-md-7 col-padding">
    {{company_form.eik}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Ин по ДДС:</label>
<div class="col-md-7 col-padding">
    {{company_form.dds}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Град:</label>
<div class="col-md-7 col-padding">
    {{company_form.city}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Адрес:</label>
<div class="col-md-7 col-padding">
    {{company_form.address}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >МОЛ:</label>
<div class="col-md-7 col-padding">
    {{company_form.mol}}
</div>
