<label class=" col-md-5 applabel" >Получател:</label>
<div class="col-md-7 col-padding">
    {{form.client_name}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >БУЛСТАТ:</label>
<div class="col-md-7 col-padding">
    {{form.client_eik}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Ин по ДДС:</label>
<div class="col-md-7 col-padding">
    {{form.client_dds}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Град:</label>
<div class="col-md-7 col-padding">
    {{form.client_city}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >Адрес:</label>
<div class="col-md-7 col-padding">
    {{form.client_address}}
</div>
<div class="appclearfix"></div>

<label class=" col-md-5 applabel" >МОЛ:</label>
<div class="col-md-7 col-padding">
    {{form.client_mol}}
</div>
