{% load static i18n %}
<input type="hidden" name="form-TOTAL_FORMS" v-model="total_forms"/>
<input type="hidden" name="form-INITIAL_FORMS" v-model="initial_forms"/>
<input type="hidden" name="form-MAX_NUM_FORMS" value="1000"/>
<table id="invoice-table" class="ui very basic striped compact table">
  <thead>
    <tr>
      {% block add_button %}
      <th class="_p0">
          <a id="add-item" class="ui button green icon" @click="add()">
            <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-add"></use></svg></i>
          </a>
      </th>
      {% endblock %}

      <th width="30%">{% trans 'Продукт / Услуга' %}</th>
      <th width="10%">{% trans 'Кол.' %}</th>
      <th>{% trans 'Мярка' %}</th>
      <th>{% trans 'Ед. Цена' %}</th>
      <th>{% trans '% Отстъпка' %}</th>
      <th class="col-price">{% trans 'Цена' %}</th>
    </tr>
  </thead>
  <tbody>
    {% block items %}
    <tr v-for="(row, index) in rows">
      <td class="_p0">
        <a id="remove-item" class="ui button red icon inverted" @click="remove(index)">
          <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-close"></use></svg></i>
        </a>
      </td>
      <td>
        <input type="text" :name="'form-'+index+'-name{% if use_tr %}_tr{% endif %}'" v-model="row.name{% if use_tr %}_tr{% endif %}"></div>
      </td>
      <td>
        <input type="number" :name="'form-'+index+'-quantity'" v-model="row.quantity" @keyup="calc_row(index); calc_total();" @click="calc_row(index);calc_total();">
      </td>
      <td>
        <input type="text" :name="'form-'+index+'-measure{% if use_tr %}_tr{% endif %}'" v-model="row.measure{% if use_tr %}_tr{% endif %}">
      </td>
      <td>
        <input type="number" step=any :disabled="selected_currency !== 'BGN'" :name="'form-'+index+'-unit_price'" v-model="row.unit_price" @keyup="unit_price_changed(index); calc_row(index); calc_total();">
        <input type="hidden" :name="'form-'+index+'-unit_price'" v-model="row.unit_price" @keyup="unit_price_changed(index); calc_row(index); calc_total();">
      </td>
      <td>
        <input type="number" :name="'form-'+index+'-discount'" v-model="row.discount" @keyup="calc_row(index); calc_total();">
      </td>
      <td class="col-price">
        <input type="number" :name="'form-'+index+'-total'" v-model="row.gross" dir="rtl" disabled>
        <input type="hidden" :name="'form-'+index+'-id'" v-model="row.id">
      </td>
    </tr>
    {% endblock %}
  </tbody>
</table>
