<label class=" col-md-5" >Номер:</label>
<div class="col-md-7 col-padding">
    <input type="number" class="form-control input-sm" name="proforma_no" value="{{ form.number.value }}">
</div>
<div class="appclearfix"></div>

<label class=" col-md-5" >Дата на издаване:</label>
<div class="col-md-7 col-padding">
    <input  class="form-control input-sm" name="released_at" value="{{ form.released_at.value }}">
</div>
<div class="appclearfix"></div>

<label class=" col-md-5" >Данъчно събитие:</label>
<div class="col-md-7 col-padding">
    <input  class="form-control input-sm" name="taxevent_at" value="{{ form.taxevent_at.value }}">
</div>
