<label class="col-md-4">Номер:</label>
<div class="col-md-8">
    <input type="number" class="form-control input-sm" name="proforma_no" value="{{ form.number.value }}">
</div>

<label class="col-md-4" >Дата на издаване:</label>
<div class="col-md-8">
    <input class="form-control input-sm" name="released_at" value="{{ form.released_at.value }}">
</div>

<label class="col-md-4" >Данъчно събитие:</label>
<div class="col-md-8">
    <input class="form-control input-sm" name="taxevent_at" value="{{ form.taxevent_at.value }}">
</div>
