{% extends "base.html" %}
{% load inv_utils %}

{% block content %}

  <div class="ui grid basic segment">
    <div class="two column row">
      <div class="column">
        <h2 class="left floated">Фактури</h2>
      </div>
      <div class="column right aligned">

        <span class="_mrs">Добави фактура:</span>
        <a href="{% url 'invoice' %}" class="ui button primary tiny" role="button">+ Данъчна</a>
        <a href="{% url 'proforma' %}" class="ui button primary tiny" role="button">+ Проформа</a>
      </div>
    </div>
  </div>

  <div class="ui grid basic segment">
    <div class="equal width row">
      <div class="column">
        <select class="ui search dropdown fluid" onchange="window.location.href=this.options[this.selectedIndex].value;">
            {% for company_pk, company_name, eik in companies %}
            <option value="{% url 'list' company_pk %}" {% if company.pk == company_pk %}selected{% endif %}>{{ company_name }} - {{ eik }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="column">
        <form method="GET">
          <div class="ui action fluid input">
            <input type="text" name="query" value="{{ query }}" placeholder="Намери клиент">
            <button class="ui button" type="submit">Търси</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui basic segment">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Клиент</th>
          <th>Тип</th>
          <th>Издадена на</th>
          <th>Номер</th>
          <th>Сума</th>
        </tr>
      </thead>
      <tbody>
      {% for inv in objects %}
        <tr>
          <td scope="row">{{ inv.client_name }}</td>
          <td>{% if inv.invoice_type == 'invoice' %}Фактура{% else %}Проформа{% endif %}</td>
          <td><a href="{% url 'invoice' inv.pk %}">{{ inv.released_at }}</a></td>
          <td>{{ inv.number|nopad }}</td>
          <td>{{ inv.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
      {% if pager.num_pages > 1 %}
      <tfoot>
        <tr>
          <th colspan="5">
          <div class="ui right floated pagination menu">
            {% if page.has_previous %}
              <a href="{% url 'list' %}?page={{ page.previous_page_number }}&query={{ query }}" class="icon item">
                &larr; По-нови
              </a>
            {% endif %}
            {% if page.has_next %}
              <a href="{% url 'list' %}?page={{ page.next_page_number }}&query={{ query }}" class="icon item">
                По-стари &rarr;
              </a>
            {% endif %}
          </div>
          </th>
        </tr>
      </tfoot>
      {% endif %}
    </table>
  </div>

{% endblock %}
