{% extends "base.html" %}
{% load inv_utils i18n %}

{% block content %}

  <div class="ui grid basic segment">
    <div class="two column row">
      <div class="column">
        <h2 class="left floated">{% trans 'Фактури' %}</h2>
      </div>
      <div class="column right aligned">
        <div class="ui teal buttons primary tiny" role="button">
            <div class="ui button" onclick="window.location.href='{% url 'invoice' %}'">{% trans 'Нова Фактура' %}</div>
            <div class="ui floating dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" onclick="window.location.href='{% url 'credit' %}'">{% trans 'Кредитно известие' %}</div>
                <div class="item" onclick="window.location.href='{% url 'debit' %}'">{% trans 'Дебитно известие' %}</div>
              </div>
            </div>
        </div>
        <a href="{% url 'proforma' %}" class="ui button primary tiny" role="button">{% trans 'Нова Проформа' %}</a>
      </div>
    </div>
  </div>

  <div class="ui grid basic segment">
    <div class="equal width row">
      <div class="column">
        <select class="ui search dropdown fluid" onchange="window.location.href=this.options[this.selectedIndex].value;">
            {% for company_pk, company_name, eik in companies %}
            <option value="{% url 'list' company_pk %}" {% if company.pk == company_pk %}selected{% endif %}>{{ company_name }} - {{ eik }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="column">
        <select class="ui search dropdown fluid" onchange="window.location.href=this.options[this.selectedIndex].value;">
            {% for short_name, verbose in invoice_types %}
            <option value="{% url 'list' company.pk %}?t={{short_name}}" {% if selected_type == short_name %}selected{% endif %}>{{ verbose }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="column">
        <form method="GET">
          <div class="ui action fluid input">
            <input type="text" name="query" value="{{ query }}" placeholder="{% trans 'Намери клиент' %}">
            <input type="hidden" name="t" value="{{ selected_type }}">
            <button class="ui button" type="submit">{% trans 'Търси' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="ui basic segment">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>{% trans 'Клиент' %}</th>
          <th>{% trans 'Тип' %}</th>
           <th>{% trans 'Номер' %}</th>
           <th>{% trans 'Издадена на' %}</th>
          <th>{% trans 'Сума' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for inv in objects %}
        <tr>
          <td scope="row">{{ inv.client_name }}</td>
          <td>{% trans inv.get_invoice_type_display %}</td>
          <td><a href="{% url 'invoice' inv.pk %}">{{ inv.number|nopad }}</a></td>
          <td>{{ inv.released_at }}</td>
          <td>{{ inv.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
      {% if pager.num_pages > 1 %}
      <tfoot>
        <tr>
          <th colspan="5">
          <div class="ui right floated pagination menu">
            {% if page.has_previous %}
              <a href="{% url 'list' %}?page={{ page.previous_page_number }}&query={{ query }}&t={{selected_type}}" class="icon item">
                &larr; {% trans 'По-нови' %}
              </a>
            {% endif %}
            {% if page.has_next %}
              <a href="{% url 'list' %}?page={{ page.next_page_number }}&query={{ query }}&t={{selected_type}}" class="icon item">
                {% trans 'По-стари' %} &rarr;
              </a>
            {% endif %}
          </div>
          </th>
        </tr>
      </tfoot>
      {% endif %}
    </table>
  </div>
{% endblock %}
