{% extends base_template %}
{% load static inv_utils %}
{% load crispy_forms_tags crispy_forms_filters %}
{% block body_class %}body--invoice{% endblock %}

{% block content %}
  <script>
    var EXCHANGE_RATES = {{ rates_json|safe }};
  </script>
  <div id="sticky-target"></div>
  <div id="invoice-container" class="ui basic segment" >
    {% if not print %}
    <div id="settings-rail" class="left ui rail">
      <div id="sticky-settings" class="ui sticky">
        <div class="ui top attached block header">
          <h2>Настройки</h2>
        </div>
        <div class="ui attached segment">
          <select class="ui search dropdown fluid _mbxs" {% if not pk %}disabled{% endif %}>
            <option value="1">Български</option>
            <option value="2">English</option>
          </select>

          <div class="ui grid">
            <div class="equal width row">
              <div class="column">
                <select class="ui search dropdown fluid _mbxs" v-model="selected_currency"  @change="currency_selected(selected_currency)" {% if not pk %}disabled{% endif %}>
                  <option v-for="currency in currencies" :name="currency" :value="currency" >{% verbatim %}{{ currency }}{% endverbatim %}</option>
                </select>
              </div>
              <div class="column">
                <div class="ui input fluid">
                  <input :name="current_rate" v-model="current_rate" type="text" @change="rate_changed()" {% if not pk %}disabled{% endif %}>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="ui bottom items attached">
          {% if pk %}
            <a href="{% url 'print' pk %}"class="ui small left floated button primary" role="button"><i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-libreoffice"></use></svg></i>Генерирай PDF</a>

            <div id="delete-button" class="ui small right floated button red icon" role="button">
              <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-bin"></use></svg></i>
            </div>
          {% endif %}

          {% if invoice_type == 'proforma' %}
          <div class="ui green right floated small buttons">
            <button type="submit" onclick="document.forms.invoice_form.submit()" href="{% url 'list' %}" class="ui button" role="button">
              <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-checkmark"></use></svg></i>
              Запази
            </button>
            <div class="ui floating dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">Запази като фактура</div>
              </div>
            </div>
          </div>
          {% else %}
          <button type="submit" onclick="document.forms.invoice_form.submit()" href="{% url 'list' %}" class="ui small right floated button green" role="button">
            <i class="icon"><svg class="svg-icon"><use xlink:href="{% static 'core/symbol-defs.svg' %}#icon-checkmark"></use></svg></i>
            Запази
          </button>
          {% endif %}

        </div>
      </div>
    </div>
    {% endif %}
    <form name="invoice_form" class="ui tiny form" method="POST" action="" >
      {% csrf_token %}

      <input name="invoice_type" type="hidden" value="{{ invoice_type }}"/>

      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <div class="row alert alert-warning" role="alert">{{ field }}: {{ error }}</div>
        {% endfor %}
      {% endfor %}

      <div class="ui grid">

        <div class="equal width row _pb0">
          <div class="column column__title">
            <h1>{% if invoice_type == 'proforma' %}Проформа{% else %}Фактура{% endif %}
              <small>оригинал</small>
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <p class="help">{{ field.help_text|safe }}</p>
                    </div>
                {% endfor %}
            </h1>
          </div><div class="column column__info">
            {{ form.number|as_crispy_field }}
            {{ form.released_at|as_crispy_field }}
            {{ form.taxevent_at|as_crispy_field }}
          </div>
        </div>

        <div class="equal width row _pb0">
          <div class="column column__client">
            {{ form.client_name|as_crispy_field }}
            {{ form.client_eik|as_crispy_field }}
            {{ form.client_dds|as_crispy_field }}
            {{ form.client_city|as_crispy_field }}
            {{ form.client_address|as_crispy_field }}
            {{ form.client_mol|as_crispy_field }}
          </div><div class="column column__company">
            {{company_form.name|as_crispy_field}}
            {{company_form.eik|as_crispy_field}}
            {{company_form.dds|as_crispy_field}}
            {{company_form.city|as_crispy_field}}
            {{company_form.address|as_crispy_field}}
            {{company_form.mol|as_crispy_field}}
          </div>
        </div>

        <div class="equal width row _pb0">
          <div class="column column__table">{% if print %}{% include "invoices/_invoice_details_print.html" %}{% else %}{% include "invoices/_invoice_details.html" %}{% endif %}</div>
        </div>

        <div class="equal width row _pb0">
          <div class="column column__payment">
            {{ form.payment_type|as_crispy_field }}
            {{ form.payment_iban|as_crispy_field }}
            {{ form.payment_swift|as_crispy_field }}
            {{ form.payment_bank|as_crispy_field }}

          </div><div class="column column__total">
            <div>
              <span>$</span>
              {{ form.tax_base|as_crispy_field }}
            </div>
            {{ form.dds_percent|as_crispy_field }}
            {{ form.total|as_crispy_field }}
            {{ form.verbally|as_crispy_field }}
          </div>
        </div>

        <div class="equal width row row__accepted">
          <div class="column">
            {{ form.accepted_by|as_crispy_field }}
          </div><div class="column">
            {{ form.created_by|as_crispy_field }}
          </div>
        </div>

        <div class="equal width row">
          <div class="column">
            <div class="field">
              <label>Бележка</label>
              <input name="note" value="{{ form.note.value }}" type="text">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

{% if not print %}
<div id="delete-modal-window" class="ui tiny modal">
  <div class="header">Изтриване на {{ form.instance.get_invoice_type_display }}</div>
  <div class="content">
      <p>Сигурни ли сте че искате да изтриете {{ form.instance.get_invoice_type_display }} с номер <b>{{ form.instance.number }}</b></p>
  </div>
  <div class="actions">
    <div class="ui negative button">Не</div>
    {% if pk %}
    <a href="{% url 'delete' pk %}" class="ui positive button">Да</a>
    {% endif %}
  </div>
</div>

<script type="text/javascript">window.formset = {{ formset|safe }};</script>
<script src="{% static "invoices/js/app.js" %}"></script>
{% endif %}
{% endblock %}
