/**
 * Concise Utils
 * https://github.com/ConciseCSS/concise-utils
 * MIT license - James Kolce
 */
._m0 {
  margin: 0!important;
}

._mt0 {
  margin-top: 0!important;
}

._mr0 {
  margin-right: 0!important;
}

._mb0 {
  margin-bottom: 0!important;
}

._ml0 {
  margin-left: 0!important;
}

._mxs {
  margin: 0.75rem!important;
}

._ms {
  margin: 1.5rem!important;
}

._mm {
  margin: 3rem!important;
}

._ml {
  margin: 4.5rem!important;
}

._mxl {
  margin: 6rem!important;
}

._mtxs {
  margin-top: 0.75rem!important;
}

._mrxs {
  margin-right: 0.75rem!important;
}

._mbxs {
  margin-bottom: 0.75rem!important;
}

._mlxs {
  margin-left: 0.75rem!important;
}

._mts {
  margin-top: 1.5rem!important;
}

._mrs {
  margin-right: 1.5rem!important;
}

._mbs {
  margin-bottom: 1.5rem!important;
}

._mls {
  margin-left: 1.5rem!important;
}

._mtm {
  margin-top: 3rem!important;
}

._mrm {
  margin-right: 3rem!important;
}

._mbm {
  margin-bottom: 3rem!important;
}

._mlm {
  margin-left: 3rem!important;
}

._mtl {
  margin-top: 4.5rem!important;
}

._mrl {
  margin-right: 4.5rem!important;
}

._mbl {
  margin-bottom: 4.5rem!important;
}

._mll {
  margin-left: 4.5rem!important;
}

._mtxl {
  margin-top: 6rem!important;
}

._mrxl {
  margin-right: 6rem!important;
}

._mbxl {
  margin-bottom: 6rem!important;
}

._mlxl {
  margin-left: 6rem!important;
}

._p0 {
  padding: 0!important;
}

._pt0 {
  padding-top: 0!important;
}

._pr0 {
  padding-right: 0!important;
}

._pb0 {
  padding-bottom: 0!important;
}

._pl0 {
  padding-left: 0!important;
}

._pxs {
  padding: 0.75rem!important;
}

._ps {
  padding: 1.5rem!important;
}

._pm {
  padding: 3rem!important;
}

._pl {
  padding: 4.5rem!important;
}

._pxl {
  padding: 6rem!important;
}

._ptxs {
  padding-top: 0.75rem!important;
}

._prxs {
  padding-right: 0.75rem!important;
}

._pbxs {
  padding-bottom: 0.75rem!important;
}

._plxs {
  padding-left: 0.75rem!important;
}

._pts {
  padding-top: 1.5rem!important;
}

._prs {
  padding-right: 1.5rem!important;
}

._pbs {
  padding-bottom: 1.5rem!important;
}

._pls {
  padding-left: 1.5rem!important;
}

._ptm {
  padding-top: 3rem!important;
}

._prm {
  padding-right: 3rem!important;
}

._pbm {
  padding-bottom: 3rem!important;
}

._plm {
  padding-left: 3rem!important;
}

._ptl {
  padding-top: 4.5rem!important;
}

._prl {
  padding-right: 4.5rem!important;
}

._pbl {
  padding-bottom: 4.5rem!important;
}

._pll {
  padding-left: 4.5rem!important;
}

._ptxl {
  padding-top: 6rem!important;
}

._prxl {
  padding-right: 6rem!important;
}

._pbxl {
  padding-bottom: 6rem!important;
}

._plxl {
  padding-left: 6rem!important;
}

._b0 {
  border: 0!important;
}

._bt0 {
  border-top: 0!important;
}

._br0 {
  border-right: 0!important;
}

._bb0 {
  border-bottom: 0!important;
}

._bl0 {
  border-left: 0!important;
}

._b1 {
  border: 1px solid #DCDCDC;
}

._bt1 {
  border-top: 1px solid #DCDCDC;
}

._br1 {
  border-right: 1px solid #DCDCDC;
}

._bb1 {
  border-bottom: 1px solid #DCDCDC;
}

._bl1 {
  border-left: 1px solid #DCDCDC;
}

._b2 {
  border: 2px solid #DCDCDC;
}

._bt2 {
  border-top: 2px solid #DCDCDC;
}

._br2 {
  border-right: 2px solid #DCDCDC;
}

._bb2 {
  border-bottom: 2px solid #DCDCDC;
}

._bl2 {
  border-left: 2px solid #DCDCDC;
}

._b3 {
  border: 3px solid #DCDCDC;
}

._bt3 {
  border-top: 3px solid #DCDCDC;
}

._br3 {
  border-right: 3px solid #DCDCDC;
}

._bb3 {
  border-bottom: 3px solid #DCDCDC;
}

._bl3 {
  border-left: 3px solid #DCDCDC;
}

._b4 {
  border: 4px solid #DCDCDC;
}

._bt4 {
  border-top: 4px solid #DCDCDC;
}

._br4 {
  border-right: 4px solid #DCDCDC;
}

._bb4 {
  border-bottom: 4px solid #DCDCDC;
}

._bl4 {
  border-left: 4px solid #DCDCDC;
}

._c-base-primary {
  color: #C65146;
}

._bg-base-primary {
  background-color: #117596;
}

._c-base-selection {
  color: #EBE1D3;
}

._bg-base-selection {
  background-color: #EBE1D3;
}

._c-base-lines {
  color: #DCDCDC;
}

._bg-base-lines {
  background-color: #DCDCDC;
}

._c-text-primary {
  color: #444;
}

._bg-text-primary {
  background-color: #444;
}

._c-text-secondary {
  color: #777;
}

._bg-text-secondary {
  background-color: #777;
}

._c-text-heading {
  color: #222;
}

._bg-text-heading {
  background-color: #222;
}

._c-text-inverted {
  color: white;
}

._bg-text-inverted {
  background-color: white;
}

._c-background-dark {
  color: #32373d;
}

._bg-background-dark {
  background-color: #32373d;
}

._c-background-light {
  color: #f5f5f5;
}

._bg-background-light {
  background-color: #f9f9f9;
}

._c-background-body {
  color: white;
}

._bg-background-body {
  background-color: white;
}

._c-state-muted {
  color: #eee;
}

._bg-state-muted {
  background-color: #efefef;
}

._c-state-success {
  color: #10a887;
}

._bg-state-success {
  background-color: #10a887;
}

._c-state-warning {
  color: #F17F42;
}

._bg-state-warning {
  background-color: #F17F42;
}

._c-state-error {
  color: #da3c3c;
}

._bg-state-error {
  background-color: #da3c3c;
}

._c-blue-darker {
  color: #1573b6;
}

._bg-blue-darker {
  background-color: #1573b6;
}

._c-blue-dark {
  color: #1e80c6;
}

._bg-blue-dark {
  background-color: #1e80c6;
}

._c-blue-base {
  color: #2b90d9;
}

._bg-blue-base {
  background-color: #2b90d9;
}

._c-blue-light {
  color: #3fa2e9;
}

._bg-blue-light {
  background-color: #3fa2e9;
}

._c-blue-lighter {
  color: #4eb1f9;
}

._bg-blue-lighter {
  background-color: #4eb1f9;
}

._c-green-darker {
  color: #089073;
}

._bg-green-darker {
  background-color: #089073;
}

._c-green-dark {
  color: #0b9d7d;
}

._bg-green-dark {
  background-color: #0b9d7d;
}

._c-green-base {
  color: #10a887;
}

._bg-green-base {
  background-color: #10a887;
}

._c-green-light {
  color: #1eb896;
}

._bg-green-light {
  background-color: #1eb896;
}

._c-green-lighter {
  color: #28ceaa;
}

._bg-green-lighter {
  background-color: #28ceaa;
}

._c-red-darker {
  color: #653131;
}

._bg-red-darker {
  background-color: #653131;
}

._c-red-dark {
  color: #b73333;
}

._bg-red-dark {
  background-color: #b73333;
}

._c-red-base {
  color: #da3c3c;
}

._bg-red-base {
  background-color: #da3c3c;
}

._c-red-light {
  color: #f25a5a;
}

._bg-red-light {
  background-color: #f25a5a;
}

._c-red-lighter {
  color: #fa8181;
}

._bg-red-lighter {
  background-color: #fa8181;
}

._c-gray-darker {
  color: #333333;
}

._bg-gray-darker {
  background-color: #333333;
}

._c-gray-dark {
  color: #4d4d4d;
}

._bg-gray-dark {
  background-color: #4d4d4d;
}

._c-gray-base {
  color: #666666;
}

._bg-gray-base {
  background-color: #666666;
}

._c-gray-light {
  color: #808080!important;
}

._bg-gray-light {
  background-color: #808080!important;
}

._c-gray-lighter {
  color: #999999;
}

._bg-gray-lighter {
  background-color: #efefef;
}

._show-xs,
._hide-s,
._hide-m,
._hide-l,
._hide-xl,
._hide-print,
._hide-hd {
  display: block;
  visibility: visible;
}

._hide-xs,
._show-s,
._show-m,
._show-l,
._show-xl,
._show-print,
._show-hd {
  display: none;
  visibility: hidden;
}

@media (min-width: 480px) {
  ._show-s,
  ._hide-xs,
  ._hide-m,
  ._hide-l,
  ._hide-xl {
    display: block;
    visibility: visible;
  }
  ._hide-s,
  ._show-xs,
  ._show-m,
  ._show-l,
  ._show-xl {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  ._show-m,
  ._hide-sm,
  ._hide-xm,
  ._hide-l,
  ._hide-xl {
    display: block;
    visibility: visible;
  }
  ._hide-m,
  ._show-sm,
  ._show-xm,
  ._show-l,
  ._show-xl {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 991px) {
  ._show-l,
  ._hide-xs,
  ._hide-s,
  ._hide-m,
  ._hide-xl {
    display: block;
    visibility: visible;
  }
  ._hide-l,
  ._show-xs,
  ._show-s,
  ._show-m,
  ._show-xl {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 1200px) {
  ._show-xl,
  ._hide-xs,
  ._hide-s,
  ._hide-m,
  ._hide-l {
    display: block;
    visibility: visible;
  }
  ._hide-xl,
  ._show-xs,
  ._show-s,
  ._show-m,
  ._show-l {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  ._show-hd {
    display: block;
    visibility: visible;
  }
  ._hide-hd {
    display: none;
    visibility: hidden;
  }
}

._bold {
  font-weight: bold;
}

._caps {
  text-transform: uppercase;
}

._font-family-inherit {
  font-family: inherit;
}

._font-size-inherit {
  font-size: inherit;
}

._italic {
  font-style: italic;
}

._no-decoration {
  text-decoration: none;
}

._regular {
  font-weight: normal;
}

._small-caps {
  -webkit-font-feature-settings: "smcp" 1, "c2sc" 1;
  font-feature-settings: "smcp" 1, "c2sc" 1;
}

._text-center {
  text-align: center;
}

._text-left {
  text-align: left;
}

._text-right {
  text-align: right;
}

._underline {
  text-decoration: underline;
}

._letter-spacing {
  letter-spacing: 0.05em;
}

._font-primary {
  font-family: "Helvetica", "Arial", sans-serif;
}

._font-secondary {
  font-family: "Helvetica", "Arial", sans-serif;
}

._font-mono {
  font-family: "Consolas", monospace;
}

._font-print {
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

._font-print-secondary {
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

._abs {
  position: absolute;
}

._rel {
  position: relative;
}

._sta {
  position: static;
}

._fix {
  position: fixed;
}

._inline-block {
  display: inline-block;
}

._block {
  display: block;
}

._inline {
  display: inline;
}

._flex {
  display: flex;
}

._flex-1 {
  flex: 1;
}

._dir-column {
  flex-direction: column;
}

._dir-row {
  flex-direction: row;
}

._left-row {
  flex-direction: row;
}

._flex.center,
._flex.center-center {
  align-items: center;
}
._flex.center-justified,
._flex.center-center {
  justify-content: center;
}

._oh {
  overflow: hidden;
}

._img-pixel {
  image-rendering: pixelated;
}
