@import "semantic-ui";
@import "concise-utils";

//Teal
//$primary-color: #00ACC1;
//$gradient-start: #00BCD4;
//$gradient-end: #154263;

//Amber
$primary-color: #1383a8;
$gradient-start: #1f67b1;
$gradient-end: #08a09f;

$footer-bgr: #181b23!important;
$menu-bgr: #131929;

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: top;
}

// Min-height on a flex container won't apply to its flex items
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  // Minimum content sizing of flex items not honored
  flex: 1 0 auto;
}

.logo {
  width: 170px;
  height: 32px;
}

#main-menu {
  background-color: $menu-bgr;
}

.page--home {
  #main-menu {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
}

#main-menu {
  &.menu--transparent {
    background-color: transparent;
  }
  &.menu--solid {
    background-color: $menu-bgr;
  }
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 4);
  }
}

.body--invoice main {
  background: #eee;
}

#sticky-settings {
  padding: 0;
  background: transparent;

  //&.fixed {
  //  top: 100px
  //}
}

#add-item,
#remove-item {
  padding: 4px 2px;
  font-size: 1.1em;
  position: absolute;
  left: -17px;
  margin-top: -10px;
}

#invoice-table {
  th {
    background: #777;
    color: #fff;
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .col-price {
    text-align: right;

    input {
      text-align: right;
    }
  }
}

.asteriskField {
  padding-left: 3px;
}

#settings-rail {
  width: 400px;
  padding-right: 0;
}

#sticky-target {
  position: absolute;
  top: 0;
}

#div_id_dds_percent input {
  text-align: right;
  padding-right: 7px;
}

#invoice-container {
  max-width: 720px!important;
  margin-bottom: 3rem;
  margin-top: 2rem;
  background: #fff;
  padding: 40px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  margin-left: 450px!important;

  .field__text {
    text-align: right;
    padding: 6px 7px 6px 0;
    display: block;
  }

  .field__currency {
    font-weight: bold;
    margin-right: 5px;
  }

  .form {
    label {
      margin: 0;
      font-size: 12px;
      padding: 3px 5px;
    }

    input {
      padding-left: 5px;
      font-size: 12px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
      background: transparent;

      &[disabled] {
        border: 0;
        background: transparent;
      }

      &:focus {
        box-shadow: none;
      }

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .field {
      margin-bottom: .5em;
    }
  }

  .column__table {
    input {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .column__info > div:first-child label,
  .column__info > div:nth-child(2) label,
  .column__total label {
    background: #eee;
  }

  .column__client > div:first-child label,
  .column__company > div:first-child label {
    background: #777;
    color: #fff;
  }

}

#mobile-menu {
  z-index: 100;
}
.hidden.menu {
  display: none;
}
.error-msg{
  color: #9f3a38;
}
.field:not(.error) .error-msg {
  display: none;
}

#invoice-container.custom-inline {
  display: flex;
  margin-bottom: .5rem;

  label {
    width: 120px;
  }

  input {
    flex: 1;
  }
}

#service-dropdown {
  flex: 1;
}

.masthead {
  position: relative;
  background: transparent!important;

  &:before {
    content: "";
    z-index: -1;
    background: linear-gradient(147deg,$gradient-start,$gradient-end) !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  &:after {
    content: "";
    background: url("../images/invoiceapp.png") no-repeat center bottom;
    //opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  div.ui.header {
    margin-top: 4em;
    font-weight: normal;
  }
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

.masthead h1.ui.header {
  margin-bottom: 0;
  font-size: 4em;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  //.ui.fixed.menu {
  //  display: none !important;
  //}
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .menu-toc {
    display: flex!important;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.footer.segment {
  background: $footer-bgr;
  padding: 5em 0;
}

.menu-toc {
  display: none!important;
}

.menu--main {
  margin: 0!important;
  border-radius: 0!important;

  .ui.button {
    margin-left: .5rem!important;
  }
}

.logo-link {
  overflow: hidden;
  display: block;

  small {
    color:#fff!important;
  }
}

.single-page-form {
  background: linear-gradient(147deg,$gradient-start,$gradient-end) !important;

  .form {
    margin: 0;
  }

  .logo {
    width: 220px;
    height: 36px;
  }

  h1, .field {
    text-align: left;
  }

  > .grid {
    height: 100%;
  }

  .column {
    max-width: 450px;
  }
}

.page--error {
  main {
    background: #eee;

    h1 {
      font-size: 40px;
    }
  }
}
