[Unit]
Description=Webinvoices
After=network.target

[Service]
Type=simple
EnvironmentFile=-/opt/webinvoices/.myenv
EnvironmentFile=-/opt/webinvoices/.productionenv
ExecStart=/usr/local/bin/celery -A src worker -l info -B
WorkingDirectory=/opt/webinvoices
Restart=always
User=www-data
Group=www-data


[Install]
WantedBy=multi-user.target
