[Unit]
Description=Import currency rates in webinvoices

[Service]
Type=oneshot
ExecStart=/opt/webinvoices/manage.py update_exchange_rates --all
WorkingDirectory=/opt/webinvoices
