[Unit]
Description=Webinvoices
After=network.target

[Service]
Type=simple
{% if deploy_in_vagrant %}
EnvironmentFile=-/home/vagrant/webinvoices/.vagrantenv
{% else %}
EnvironmentFile=-/home/vagrant/webinvoices/.productionenv
{% endif %}
ExecStart=/home/vagrant/.virtualenvs/bin/uwsgi --ini /opt/webinvoices/uwsgi.ini
WorkingDirectory=/home/vagrant/webinvoices
Restart=always
User=www-data
Group=www-data


[Install]
WantedBy=multi-user.target
