[Unit]
Description=Webinvoices
After=network.target

[Service]
Type=simple
{% if deploy_in_vagrant %}
EnvironmentFile=-/opt/webinvoices/.vagrantenv
{% else %}
EnvironmentFile=-/opt/webinvoices/.productionenv
{% endif %}
ExecStart=/opt/webinvoices.env/bin/uwsgi --ini /opt/webinvoices/uwsgi.ini
WorkingDirectory=/opt/webinvoices
Restart=always
User=www-data
Group=www-data


[Install]
WantedBy=multi-user.target
